Server/SchoolManager/SchoolManager.Presentation.WebAPI/bin/
Server/SchoolManager/SchoolManager.Presentation.WebAPI/obj/
Server/SchoolManager/.vs/
/.vs
Server/SchoolManager/SchoolManager.Application.Service/obj/
Server/SchoolManager/SchoolManager.Domain.Business/obj/
Server/SchoolManager/SchoolManager.Domain.Model/obj/
Server/SchoolManager/SchoolManager.InfraStructure.EFProvider/obj/
Server/SchoolManager/SchoolManager.InfraStructure.Repository/obj/
Server/SchoolManager/SchoolManager.Application.Service/bin/
Server/SchoolManager/SchoolManager.Domain.Business/bin/
Server/SchoolManager/SchoolManager.Domain.Model/bin/
Server/SchoolManager/SchoolManager.InfraStructure.EFProvider/bin/
Server/SchoolManager/SchoolManager.InfraStructure.Repository/bin/
Server/SchoolManager/SchoolManager.InfraStructure.Data/bin/
Server/SchoolManager/SchoolManager.InfraStructure.Data/obj/
Server/SchoolManager/SchoolManager.InfraStructure.MockProvider/bin/
Server/SchoolManager/SchoolManager.InfraStructure.MockProvider/obj/
Server/SchoolManager/SchoolManager.Domain/bin/
Server/SchoolManager/SchoolManager.Domain/obj/
