
<!-- <a routerLink='/newClass' routerLinkActive='active' [queryParams] = "{schoolId : schoolId}" queryParamsHandling = "preserve"  >Nova turma</a>
<a routerLink="/classes" routerLinkActive='active'>turmas</a> -->

<app-class-form (onSave)='listClasses($event)' ></app-class-form>

<div class="card highlight-card card-small">
  {{ schoolName }}
 </div>
 <p>Quantidade de turmas:{{total}}</p>
 <ul class="list-group" *ngFor="let item of classes">
   <li class="list-group-item d-flex justify-content-between align-items-center">
     {{item.name}}
     <span class="badge badge-primary badge-pill">{{item.studentQuantity}}</span>
   </li>
 </ul>








